In [2]:
# 1
print("Hello World")

Hello World

In [3]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 3
print('신씨가 소리질렀다."도둑이야".')

신씨가 소리질렀다."도둑이야".

In [9]:
# 4
print("C:\Windows")

C:\Windows

In [11]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

#설명 : \n은 줄바꿈 기능이고 \t는 간격늘림(탭) 기능이다.

안녕하세요.
만나서		반갑습니다.

In [17]:
# 6
print("오늘은","일요일")
#예상 오늘은 일요일

오늘은 일요일

In [13]:
# 7
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung",sep=";")

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [14]:
# 8
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [18]:
# 9 -
print("first",end='');print("second")

firstsecond

In [19]:
# 10
print(5/3)

1.6666666666666667

In [20]:
# 11
삼성전자 = 50000
총평가금액 = 10 * 삼성전자
print(총평가금액)

500000

In [ ]:
# 12
시가총액=298000000000000
현재가=50000
PER=15.79

In [26]:
# 13
s = "hello"
t = "python"
print(s+'!',t)

hello! python

In [28]:
# 14
#예상 : 8
print(2+2*3)

8

In [30]:
# 15
a = 132
print(type(a))

<class 'int'>

In [32]:
# 16
num_str = "720"
num_int=int(num_str)
print(num_int)

720

In [36]:
# 17
num = 100
str_num =str(num)
print(type(str_num))

<class 'str'>

In [38]:
# 18
num_str = "15.79"
num_float = float(num_str)
print(type(num_float))

<class 'float'>

In [39]:
# 19
year = "2020"
year_int = int(year)
print(year_int+2,year_int+3,year_int+4)

2022 2023 2024

In [40]:
# 20
월에어컨요금 = 48584
총금액 = 월에어컨요금 * 36
print(총금액)

1749024

In [41]:
# 21
letters = 'python'
print(letters[0],letters[2])

p t

In [42]:
# 22
license_plate = "24가 2210"
print(license_plate[3:])

 2210

In [48]:
# 23 -
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])
print(string[::2])
#슬라이싱 시 `시작인덱스:끝인덱스:오프셋`을 지정 가능

홀 홀 홀
홀홀홀

In [49]:
# 24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [54]:
# 25 -
phone_number = "010-1111-2222"
pn = phone_number.replace("-"," ")
print(pn)
# replace 메서드를 사용하면 문자열을 일부를 치환할 수 있다 
# 변수.replace("a","b") => 문자열안의 a를 b로 치환한다

010 1111 2222

In [56]:
# 26
phone_number = "010-1111-2222"
pn = phone_number.replace("-","")
print(pn)

01011112222

In [61]:
# 27 -
#b.split()에 ':' 넣어주면 :기준으로 나눠준다 안나눠주면 공백기준
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[1])

kr

In [62]:
# 28
# 예상 : 수정한 내용이 적용되지않고 python 그대로 출력된다. 문자열은 immutable(불변), 원본변경이 불가능하다
lang = 'python'
lang[0] = 'P'
print(lang)
# 결과 : 오류를 출력한다

TypeError: 'str' object does not support item assignment

In [64]:
# 29
string = 'abcdfe2a354a32a'
sr = string.replace("a","A")
print(sr)

Abcdfe2A354A32A

In [66]:
# 30
#예상 : 그대로 유지된다 replace를 적용하고 싶으면 변수를 만들어줘야한다.
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
# 31
# 예상 = 34 변수에 ""가 적용되면 str형이다. str형의 +는 연속해서 붙이는것이다
a = "3"
b = "4"
print(a + b)

In [ ]:
# 32
# 예상 : HiHiHi
print("Hi" * 3

In [67]:
# 33
print("-"*80)

--------------------------------------------------------------------------------

In [69]:
# 34 
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [75]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
# 36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [81]:
# 37 -
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [84]:
# 38
상장주식수 = "5,969,782,550"
상r = 상장주식수.replace(",","")
인상r = int(상r)
print(인상r,type(인상r))

5969782550 <class 'int'>

In [85]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [88]:
# 40
data = "   삼성전자    "
ds = data.strip()
print(ds)

삼성전자

In [89]:
# 41
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [90]:
# 42
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [91]:
# 43
a='hello'
print(a.capitalize())

Hello

In [92]:
# 44 -
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [94]:
# 45
file_name = "보고서.xlsx"
file_name.endswith("xlsx" or 'xls')

True

In [95]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [96]:
# 47
a = "hello world"
print(a.split())

['hello', 'world']

In [98]:
# 48
ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

In [99]:
# 49
date = "2020-05-01"
print(date.split("-"))

['2020', '05', '01']

In [102]:
# 50
data = "039490     "
print(data.rstrip())

039490