In [7]:
#151
x = [3,-20,-3,44]
for i in x :
    if i < 0 :
        print(i)

-20
-3

In [8]:
#152
x = [3,100,23,44]
for i in x :
    if i%3==0 :
        print(i)

3

In [9]:
#153
x = [13, 21, 12, 14, 30, 18]
for i in x :
    if i<20 and i%3==0 :
        print(i)

12
18

In [10]:
#154
x = ["I", "study", "python", "language", "!"]
for i in x :
    if len(i)>=3 :
        print(i)

study
python
language

In [12]:
#155
x = ["A", "b", "c", "D"]
for i in x :
    if i.isupper()==True :
        print(i)

A
D

In [13]:
#156
x = ["A", "b", "c", "D"]
for i in x :
    if i.isupper()==False :
        print(i)

b
c

In [14]:
#157
x = ['dog', 'cat', 'parrot']
for i in x :
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [15]:
#158
x = ['hello.py', 'ex01.py', 'intro.hwp']
for i in x:
  split = i.split(".")
  print(split[0])

hello
ex01
intro

In [16]:
#159
x = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in x:
  split = i.split(".")
  if split[1] == "h":
    print(i)

intra.h
define.h

In [17]:
#160
x = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in x:
  split = i.split(".")
  if split[1] == "h" or split[1] == "c":
    print(i)

intra.h
intra.c
define.h

In [18]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [19]:
#162
for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [20]:
#163
for i in range(3, 31, 3):
    print (i)

3
6
9
12
15
18
21
24
27
30

In [24]:
#164
for i in range(99,0,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [28]:
#165
for i in range(0,1,0.1):
    print(i)

SyntaxError: cannot assign to function call (3806065021.py, line 2)

In [29]:
#166
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [31]:
#167
for i in range(1, 10) :
    if i%2 != 0 :
        print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [32]:
#168
sum = 0
for i in range(1, 11):
    sum += i
print (sum)

55

In [33]:
#169
sum = 0
for i in range(1, 11,2):
    sum += i
print (sum)

25

In [36]:
#170
mul = 1
for i in range(1, 11):
    mul *= i
print (mul)

3628800

In [38]:
#171
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [39]:
#172
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [41]:
#173
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [43]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(3):
    print(10*i+100, price_list[i+1])

100 32150
110 32000
120 32500

In [44]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [45]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [46]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가

In [49]:
#178
my_list = [100, 200, 400, 800]

for i in range(len(my_list) - 1):
    print((my_list[i+1] - my_list[i]))

100
200
400

In [50]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [52]:
#180
lp  = [100, 200, 400, 800, 1000]
hp = [150, 300, 430, 880, 1000]
vo = []
for i in range(len(lp)) :
    vo.append(hp[i]-lp[i])
print(vo)

[50, 100, 30, 80, 0]

In [53]:
#181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [56]:
#182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [59]:
#183 -
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [61]:
#184 -
stock = {"10/10": [80,110,70,90], "10/11": [210,230,190,200] }
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [77]:
#185 --
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
    
    for j in range(2):
        print(apart[i][j])

101
102
201
202
301
302

In [70]:
#186 -

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i :
        print(j,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [72]:
#187

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i[::-1] :
        print(j,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [73]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i :
        print(j,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [74]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i :
        print(j,"호")
        if j%2==0 :
            print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [83]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i :
        print(j,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [93]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(float(j)*(1.00014))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [96]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    
    for j in i:
        print(float(j)*(1.00014))
    print("-----")

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [105]:
#193
result=[]
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [115]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]

for i in data:
    sub=[] #초기화를 의미
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [118]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [124]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    
    if i[3]>150 :
        print(i[3])

190
310

In [125]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    
    if i[3]>=i[0] :
        print(i[3])

100
310

In [128]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility=[]
for i in ohlc[1:]:
    
    volatility.append(i[1]-i[2])

print(volatility)

[40, 30, 10]

In [129]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3]-i[0]>0 :
        print(i[1]-i[2])

10

In [133]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
result=0
for i in ohlc[1:]:
    result += (i[0]-i[3])
print(result)

0