In [21]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [22]:
#52
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [23]:
#53
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [24]:
#54
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [25]:
#55
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [27]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [29]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print(min(nums),max(nums))

1 7

In [31]:
#58
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [33]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [38]:
#60
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

3.0

In [39]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [46]:
#62 -
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [47]:
#63 -
print(nums[1::2])

[2, 4, 6, 8, 10]

In [50]:
#64
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

In [52]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [55]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [56]:
#67
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [57]:
#68
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [58]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [60]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [61]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [63]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank,type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [64]:
#73
tp=(1,)
print(type(tp))

<class 'tuple'>

In [66]:
#74
t = (1, 2, 3)
t[0] = 'a'
#튜플은 immutable이라 원소의 값을 변경할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [67]:
#75
t = 1, 2, 3, 4
type(t)
#원칙적으로는 소괄호를 씌워줘야하지만 없어도 튜플로 인식함

tuple

In [68]:
#76
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [71]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
li = list(interest)
print(li)

['삼성전자', 'LG전자', 'SK Hynix']

In [75]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tp = tuple(interest)
print(tp)

('삼성전자', 'LG전자', 'SK Hynix')

In [76]:
#79
# 답 :apple banana cake
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [77]:
#80
#range(A, B, C)함수 A부터 C 숫자만큼의 간격으로 B-1 까지의 정수 범위를 반환합니다. B까지가 아닌 B-1 이라는 것에 주의하세요.

data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [78]:
#81 -
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [79]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [80]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [82]:
#84
temp = { }
print(temp,type(temp))

{} <class 'dict'>

In [83]:
#85
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [85]:
#86
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [87]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(ice["메로나"])

1000

In [88]:
#88
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']= 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [89]:
#89
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90
#답 : 기존명단에 key값이 없다. 만약 누가바를 추가하려면 밸류값도 입력해야한다.

In [90]:
#91
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [91]:
#92
print(inventory["메로나"][0])

300

In [92]:
#93
print(inventory["메로나"][1])

20

In [93]:
#94
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [94]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [95]:
#96
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [96]:
#97
print(sum(icecream.values()))

6700

In [97]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [98]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [99]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}