In [14]:
#정수형
a = 123
print(a)
a = -178
print(a)
a = 0
print(a)

123
-178
0

In [15]:
#실수형
a = 1.2
print(a)
a = -3.45
print(a)
a = 4.24E10
print(a)
a = 4.24e-10
print(a)

1.2
-3.45
42400000000.0
4.24e-10

In [11]:
#8진수
a = 0o177
print(a)

127

In [13]:
#16진수
a = 0x8ff
b = 0xABC
print(a, b)

2303 2748

In [16]:
#사칙연산
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [18]:
#a의 b제곱은 a**b
a=3
b=4
print(a ** b)

81

In [19]:
#나눗셈 후 나머지를 리턴하는 연산자 %
a=3
b=7

print(a%b)
print(b%a)

3
1

In [20]:
#나눗셈 후 몫을 리턴하는 연산자 //
a=3
b=7

print(a//b)
print(b//a)

0
2

In [28]:
#큰따옴표로 양쪽 둘러싸기
print("Hello world")
print('Hello donny')
print('''hello''')
#따옴표없이 hello world 치면 오류 -> 자료형이 없으니까!

Hello world
Hello donny
hello

In [38]:
#문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

# 'Python's favorite food is perl' <- 홑따옴표로는 절대 못묶음 쌍따옴표로 묶어야함
print("Python's favorite food is perl")

# "그가 말했다"나는 바보야"" <-쌍따옴표로도 절대 못묶음 
# 작은따옴표 3개 or 1개로 묶어야함
print('그가 말했다"나는 바보야"')
print('''그가 말했다"나는 바보야" ''' )

Python's favorite food is perl
그가 말했다"나는 바보야"
그가 말했다"나는 바보야"

In [39]:
#줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

print("Life is too short\nYou need python")

Life is too short
You need python

In [43]:
# 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하면 자동 줄바꿈이 가능하다

print("""
Life is too short
You need python
""")

Life is too short
You need python

In [1]:
#이것은 주피터의 편의기능이다. 그래서 이스케이프 코드가 먹지 않는다.
#이스케이프 코드가 먹는것은 Python 내장함수
"Life is too short\nYou need python"

'Life is too short\nYou need python'

In [2]:
print('''
홑따옴표 3개로 구분해주면
자동 줄바꿈 기능이 활성화 된다''')

홑따옴표 3개로 구분해주면
자동 줄바꿈 기능이 활성화 되지

In [5]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [8]:
a = "python\n"
print(a * 5)

python
python
python
python
python

In [9]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [10]:
# a 요소안에 들어있는 문자열 갯수를 세줘! len(a)
a = "Life is too short"
len(a)

17

## 문자열 인덱싱

In [11]:
a = "Life is too short, You need Python"

In [12]:
a[3]

'e'

In [14]:
# 문자열 인덱싱에서 음수값을 집어넣게 되면 뒤에서부터 출력한다
a[-1]

'n'

## 문자열 슬라이싱

In [17]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [18]:
#a[0:4] == 0 <= a < 4
a[0:4]

'Life'

In [19]:
a[12:17]

'short'

In [20]:
#문자열 슬라이싱할때 한쪽값만 입력하면 공란은 끝까지
a[19:]

'You need Python'

In [24]:
a[:17]

'Life is too short'

In [22]:
a[0:4]==a[0:5]

False

In [27]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [28]:
a = "20240228Sunny"
date = a[:8]
weather = a[8:]
date, weather

('20240228', 'Sunny')

In [29]:
a = "20240228Sunny"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2024', '0228', 'Sunny')

In [30]:
# 문자열 수정하기 문자열은 원본변경이 불가능함 (immutable)
# 수정을 원한다면 새로 만들어야한다
a = 'pithon'
a[1] = 'y'
a

TypeError: 'str' object does not support item assignment

In [33]:
# 굳이 a를 가지고 Python을 출력하고싶다면..
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅

In [34]:
# 방법 1. 숫자 바로 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [35]:
# 방법 2. 문자열 바로 대입
"I eat %s apples."%"five"

'I eat five apples.'

In [36]:
# 당연히 5를 넣어도 된다 str형만 모든 형태의 값을 변환해 넣을 수 있다.
"I eat %s apples."%"5"

'I eat 5 apples.'

In [39]:
"I eat %s apples."%"5.245"

'I eat 5.245 apples.'

In [37]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [38]:
# 2개 이상의 값 넣기
number=10
day = 'three'
"I ate %d apples. so I was sick for %s days." % (number,day)

'I ate 10 apples. so I was sick for three days.'

In [41]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다
"오늘의 습도는 %d%% 입니다." %70

'오늘의 습도는 70% 입니다.'

## 포맷 코드와 숫자 함께 사용하기

In [42]:
# 정렬과 공백
"%10s" % "hi"

'        hi'

In [44]:
"%-10sjane." % "hi"

'hi        jane.'

## 소수점 표현하기

In [45]:
"%0.4f" % 3.42134234

'3.4213'

In [46]:
"%10.4f" % 3.42134234

'    3.4213'

## format 함수를 사용한 포매팅

In [47]:
# "I eat {0} apples" 문자열 중 {0} 부분이 숫자 3으로 바뀌었다.
"I eat {0} apples".format(3)

'I eat 3 apples'

In [48]:
"I eat {0} apples".format("five")

'I eat five apples'

In [49]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [50]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [51]:
# 포맷방식은 자료형을 지정하지 않기때문에 변수의 자료형이 바뀌어도 오류가 나지않는다.
"I ate {0} apples. so I was sick for {1} days.".format(day, number)

'I ate three apples. so I was sick for 10 days.'

In [52]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [53]:
"I ate {number} apples. so I was sick for {day} days.".format(day=3, number=10)

'I ate 10 apples. so I was sick for 3 days.'

In [54]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [55]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [56]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

## 소수점 표현하기

In [57]:
y = 3.42134234

"{0:0.4f}".format(y)

'3.4213'

## f 문자열 포매팅 (강추)

In [58]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [59]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [60]:
d = {'name' : '홍길동', 'age' :30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

## 문자열 관련 함수들

In [61]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [64]:
# 위치 알려주기 find
a = "Python is the best choice"
a.find('b')

14

In [68]:
#find는 에러시 -1을 출력
a.find('k')

-1

In [65]:
# 위치 알려주기 index
a = "Life is too short"
a.index('t')

8

In [67]:
#find와 index의 가장 큰 차이는 없는 정보를 입력했을때 index는 에러가 난다.
a.index('k')

ValueError: substring not found

In [69]:
# 문자열 삽입 join
a = 'abcd'
a

'abcd'

In [70]:
','.join(a)

'a,b,c,d'

In [71]:
a = ['a', 'b', 'c', 'd']
a

['a', 'b', 'c', 'd']

In [73]:
','.join(a)

'a,b,c,d'

In [78]:
# 소문자를 대문자로 바꾸기 upper
x = 'hi'
x.upper()

'HI'

In [80]:
print('hello')
print()
print('world')

hello

world

In [81]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [82]:
# 오른쪽 공백 지우기
a = " hi "
a.rstrip()

' hi'

In [83]:
# 양쪽 공백 지우기
a = " hi "
a.strip()

'hi'

In [90]:
# 문자열 바꾸기 replace
a = "Life is too short"
a.replace('Life', 'your leg')

'your leg is too short'

In [91]:
# 문자열 나누기 split, 아무것도 안넣어주면 공백 기준
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [92]:
#b.split()에 ':' 넣어주면 :기준으로 나눠준다
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 변수

In [93]:
a = 1
a, type(a)

(1, int)

In [94]:
b = 'python'
b, type(b)

('python', str)

In [95]:
c = [1,2,3]
c, type(c)

([1, 2, 3], list)

In [96]:
id(a)

140703790764840

In [109]:
# 문자열을 복사
a = [1,2,3]
b = a

In [110]:
id(a), id(b)

(2227708867008, 2227708867008)

In [111]:
# a와 b가 가리키는 객체가 같을까?
a is b

True

In [112]:
# a[1]을 바꿨는데 b도 같이 바뀌었다
a[1] = 4
b

[1, 4, 3]

In [115]:
# b 생성할 때 a의 값을 가져오면서 a와는 다른 주소를 가리키도록 하는법
# 첫번째 방법 리스트 전체를 가리키는 [:]
a = [1, 2, 3]
b = a[:]
a[1] = 4
b

[1, 2, 3]

In [ ]:
# b 생성할 때 a의 값을 가져오면서 a와는 다른 주소를 가리키도록 하는법 
# 두번째 방법 copy모듈