In [14]:
#정수형
a = 123
print(a)
a = -178
print(a)
a = 0
print(a)

123
-178
0

In [15]:
#실수형
a = 1.2
print(a)
a = -3.45
print(a)
a = 4.24E10
print(a)
a = 4.24e-10
print(a)

1.2
-3.45
42400000000.0
4.24e-10

In [11]:
#8진수
a = 0o177
print(a)

127

In [13]:
#16진수
a = 0x8ff
b = 0xABC
print(a, b)

2303 2748

In [16]:
#사칙연산
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [18]:
#a의 b제곱은 a**b
a=3
b=4
print(a ** b)

81

In [19]:
#나눗셈 후 나머지를 리턴하는 연산자 %
a=3
b=7

print(a%b)
print(b%a)

3
1

In [20]:
#나눗셈 후 몫을 리턴하는 연산자 //
a=3
b=7

print(a//b)
print(b//a)

0
2

In [28]:
#큰따옴표로 양쪽 둘러싸기
print("Hello world")
print('Hello donny')
print('''hello''')
#따옴표없이 hello world 치면 오류 -> 자료형이 없으니까!

Hello world
Hello donny
hello

In [38]:
#문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

# 'Python's favorite food is perl' <- 홑따옴표로는 절대 못묶음 쌍따옴표로 묶어야함
print("Python's favorite food is perl")

# "그가 말했다"나는 바보야"" <-쌍따옴표로도 절대 못묶음 
# 작은따옴표 3개 or 1개로 묶어야함
print('그가 말했다"나는 바보야"')
print('''그가 말했다"나는 바보야" ''' )

Python's favorite food is perl
그가 말했다"나는 바보야"
그가 말했다"나는 바보야"

In [39]:
#줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

print("Life is too short\nYou need python")

Life is too short
You need python

In [43]:
# 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하면 자동 줄바꿈이 가능하다

print("""
Life is too short
You need python
""")

Life is too short
You need python

In [1]:
#이것은 주피터의 편의기능이다. 그래서 이스케이프 코드가 먹지 않는다.
#이스케이프 코드가 먹는것은 Python 내장함수
"Life is too short\nYou need python"

'Life is too short\nYou need python'

In [2]:
print('''
홑따옴표 3개로 구분해주면
자동 줄바꿈 기능이 활성화 된다''')

홑따옴표 3개로 구분해주면
자동 줄바꿈 기능이 활성화 되지

In [5]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [8]:
a = "python\n"
print(a * 5)

python
python
python
python
python

In [9]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [10]:
# a 요소안에 들어있는 문자열 갯수를 세줘! len(a)
a = "Life is too short"
len(a)

17

## 문자열 인덱싱

In [11]:
a = "Life is too short, You need Python"

In [12]:
a[3]

'e'

In [14]:
# 문자열 인덱싱에서 음수값을 집어넣게 되면 뒤에서부터 출력한다
a[-1]

'n'

## 문자열 슬라이싱

In [17]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [18]:
#a[0:4] == 0 <= a < 4
a[0:4]

'Life'

In [19]:
a[12:17]

'short'

In [20]:
#문자열 슬라이싱할때 한쪽값만 입력하면 공란은 끝까지
a[19:]

'You need Python'

In [24]:
a[:17]

'Life is too short'

In [22]:
a[0:4]==a[0:5]

False

In [27]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [28]:
a = "20240228Sunny"
date = a[:8]
weather = a[8:]
date, weather

('20240228', 'Sunny')

In [29]:
a = "20240228Sunny"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2024', '0228', 'Sunny')

In [30]:
# 문자열 수정하기 문자열은 원본변경이 불가능함 (immutable)
# 수정을 원한다면 새로 만들어야한다
a = 'pithon'
a[1] = 'y'
a

TypeError: 'str' object does not support item assignment

In [33]:
# 굳이 a를 가지고 Python을 출력하고싶다면..
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅

In [34]:
# 방법 1. 숫자 바로 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [35]:
# 방법 2. 문자열 바로 대입
"I eat %s apples."%"five"

'I eat five apples.'

In [36]:
# 당연히 5를 넣어도 된다 str형만 모든 형태의 값을 변환해 넣을 수 있다.
"I eat %s apples."%"5"

'I eat 5 apples.'

In [39]:
"I eat %s apples."%"5.245"

'I eat 5.245 apples.'

In [37]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [38]:
# 2개 이상의 값 넣기
number=10
day = 'three'
"I ate %d apples. so I was sick for %s days." % (number,day)

'I ate 10 apples. so I was sick for three days.'

In [41]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다
"오늘의 습도는 %d%% 입니다." %70

'오늘의 습도는 70% 입니다.'

## 포맷 코드와 숫자 함께 사용하기

In [42]:
# 정렬과 공백
"%10s" % "hi"

'        hi'

In [44]:
"%-10sjane." % "hi"

'hi        jane.'

## 소수점 표현하기

In [45]:
"%0.4f" % 3.42134234

'3.4213'

In [46]:
"%10.4f" % 3.42134234

'    3.4213'

## format 함수를 사용한 포매팅

In [47]:
# "I eat {0} apples" 문자열 중 {0} 부분이 숫자 3으로 바뀌었다.
"I eat {0} apples".format(3)

'I eat 3 apples'

In [48]:
"I eat {0} apples".format("five")

'I eat five apples'

In [49]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [50]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [51]:
# 포맷방식은 자료형을 지정하지 않기때문에 변수의 자료형이 바뀌어도 오류가 나지않는다.
"I ate {0} apples. so I was sick for {1} days.".format(day, number)

'I ate three apples. so I was sick for 10 days.'

In [52]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [53]:
"I ate {number} apples. so I was sick for {day} days.".format(day=3, number=10)

'I ate 10 apples. so I was sick for 3 days.'

In [54]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [55]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [56]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

## 소수점 표현하기

In [57]:
y = 3.42134234

"{0:0.4f}".format(y)

'3.4213'

## f 문자열 포매팅 (강추)

In [58]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [59]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [60]:
d = {'name' : '홍길동', 'age' :30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

## 문자열 관련 함수들

In [61]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [64]:
# 위치 알려주기 find
a = "Python is the best choice"
a.find('b')

14

In [68]:
#find는 에러시 -1을 출력
a.find('k')

-1

In [65]:
# 위치 알려주기 index
a = "Life is too short"
a.index('t')

8

In [67]:
#find와 index의 가장 큰 차이는 없는 정보를 입력했을때 index는 에러가 난다.
a.index('k')

ValueError: substring not found

In [69]:
# 문자열 삽입 join
a = 'abcd'
a

'abcd'

In [70]:
','.join(a)

'a,b,c,d'

In [71]:
a = ['a', 'b', 'c', 'd']
a

['a', 'b', 'c', 'd']

In [73]:
','.join(a)

'a,b,c,d'

In [78]:
# 소문자를 대문자로 바꾸기 upper
x = 'hi'
x.upper()

'HI'

In [80]:
print('hello')
print()
print('world')

hello

world

In [81]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [82]:
# 오른쪽 공백 지우기
a = " hi "
a.rstrip()

' hi'

In [83]:
# 양쪽 공백 지우기
a = " hi "
a.strip()

'hi'

In [90]:
# 문자열 바꾸기 replace
a = "Life is too short"
a.replace('Life', 'your leg')

'your leg is too short'

In [91]:
# 문자열 나누기 split, 아무것도 안넣어주면 공백 기준
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [92]:
#b.split()에 ':' 넣어주면 :기준으로 나눠준다
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 변수

In [93]:
a = 1
a, type(a)

(1, int)

In [94]:
b = 'python'
b, type(b)

('python', str)

In [95]:
c = [1,2,3]
c, type(c)

([1, 2, 3], list)

In [96]:
id(a)

140703790764840

In [109]:
# 문자열을 복사
a = [1,2,3]
b = a

In [110]:
id(a), id(b)

(2227708867008, 2227708867008)

In [111]:
# a와 b가 가리키는 객체가 같을까?
a is b

True

In [112]:
# a[1]을 바꿨는데 b도 같이 바뀌었다
a[1] = 4
b

[1, 4, 3]

In [115]:
# b 생성할 때 a의 값을 가져오면서 a와는 다른 주소를 가리키도록 하는법
# 첫번째 방법 리스트 전체를 가리키는 [:]
a = [1, 2, 3]
b = a[:]
a[1] = 4
b

[1, 2, 3]

In [ ]:
# b 생성할 때 a의 값을 가져오면서 a와는 다른 주소를 가리키도록 하는법 
# 두번째 방법 copy모듈

## 리스트

In [2]:
odd = [1, 3, 5, 7, 9]
print(odd)
print(type(odd))

[1, 3, 5, 7, 9]
<class 'list'>

In [4]:
#리스트의 특징은 다양한 자료형이 섞여서 들어갈 수 있다
a=[]
b=[1,2,3]
c=['life','is','too','short']
d=[1,2,'life','is']
e=[1,2,['life','is']] #리스트 안에 리스트가 들어갈 수 있다.
print(a,b,c,d,e)

[] [1, 2, 3] ['life', 'is', 'too', 'short'] [1, 2, 'life', 'is'] [1, 2, ['life', 'is']]

In [7]:
a=[1,2,3]
a
a[0]
a[0]+a[2] #a[0]이 리스트 a의 첫 번째 요소 a[-1]은 마지막 요솟값

4

In [13]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]
a[-1]
a[3]
a[-1][0]#이중리스트 요솟값 추출하는법
a[3][1]
a[3][2]

'c'

In [15]:
#삼중리스트 인덱싱
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][1]

'is'

In [20]:
#리스트 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]
b=a[:2]
c=a[2:]
b
c

[3, 4, 5]

In [22]:
#중첩 리스트 슬라이싱
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]
a[3][:2]

['a', 'b']

In [23]:
#del로 리스트 요소 삭제하기
a= [1,2,3]
del a[1]
a

[1, 3]

In [25]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

In [26]:
#리스트 요소 추가 함수 append
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [27]:
#리스트 정렬 함수 sort
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [28]:
a = ['a','c','b','d','e'] #문자열 자료형도 가능 (아스키코드)
a.sort()
a

['a', 'b', 'c', 'd', 'e']

In [29]:
# 리스트 순서 뒤집기 함수 reverse
a.reverse()
a

['e', 'd', 'c', 'b', 'a']

In [37]:
# 인덱스(위칫값) 반환 함수 index
a = ['a','c','c','d','e']
a.index('c') #index와 find 차이점 다시한번 짚기 index는 해당 요소 없을경우 에러

1

In [38]:
#리스트 요소 삽입 함수 insert
a = [1, 2, 3]
a.insert(0, 4) # 0번째 자리, 즉 첫 번째 요소인 a[0] 위치에 값 4를 삽입하라는 뜻
a

[4, 1, 2, 3]

In [39]:
a.insert(3, 5) #리스트 a의 a[3], 즉 네 번째 요소 위치에 값 5를 삽입하라는 뜻
a

[4, 1, 2, 5, 3]

In [41]:
#리스트 요소 제거 함수 remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
a #a가 3이라는 값을 2개 가지고 있을 경우, 첫 번째 3만 제거되는 것을 알 수 있다.
a.remove(3)
a #remove(3)을 한 번 더 실행하면 다시 3이 삭제된다.

[1, 2, 1, 2]

In [44]:
# 리스트 요소 끄집어 내는 함수 pop
a = [1, 2, 3]
a.pop() #pop()은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제한다.

3

In [45]:
a

[1, 2]

In [49]:
#pop(x)는 리스트의 x번째 요소를 리턴하고 그 요소는 삭제한다.
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [50]:
#리스트에 포함된 요소 x의 개수 세는 함수 count
a = [1, 2, 3, 1]
a.count(1) #리스트 a안에 요소1이 2개 들어있으니까 2개

2

In [53]:
#리스트 확장 함수 extend
a = [1, 2, 3]
a.extend([4, 5]) #a.extend([4, 5])는 a += [4, 5]와 동일하다.
a
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플

In [56]:
#튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷
#다른점 1 : 리스트는 [], 튜플은 ()으로 둘러싼다.
#다른점 2 : 리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 튜플은 요솟값을 바꿀 수 없다.

t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd')) #소괄호로 출력되면 튜플!
t1,t2,t3,t4,t5

((), (1,), (1, 2, 3), (1, 2, 3), ('a', 'b', ('ab', 'cd')))

In [57]:
type(t1)

tuple

In [58]:
#소괄호에 콤마 하나 붙였다고 튜플
type((1)),type((1,))

(int, tuple)

In [ ]:
#튜플 언제 쓰냐? -> 변경되면 안되는 입력이 됐을때, 리턴값(도중에 수정이 되면 안됨)

In [59]:
## 튜플 삭제 변경 시도
t1 =(1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [60]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [61]:
#튜플 다루기(조회 가능)
#인덱싱
t1[0],t1[3]

(1, 'b')

In [62]:
# 슬라이싱
t1[1:]

(2, 'a', 'b')

In [63]:
#튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [65]:
# 튜플 곱하기
t2 = (3,4)
t3 = t2 * 3 #계산하려면 array(요소별연산)를 사용해야한다
t3

(3, 4, 3, 4, 3, 4)

In [66]:
#튜플 길이 구하기
t1 = (1,2,'a','b')
len(t1)

4

In [ ]:
# 튜플은 요솟값을 변경할수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수가 없다.

## 딕셔너리

In [ ]:
#NoSQL에 쓰임 NoSQL데이터 = 영상,파일 데이터
#딕셔너리는 단어 그대로 ‘사전’이라는 뜻이다.
#"people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이 
#딕셔너리는 Key와 Value를 한 쌍으로 가지는 자료형이다.

In [68]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [69]:
a = {1: 'hi'}
a

{1: 'hi'}

In [70]:
a = {'a': [1, 2, 3]} # Value에 리스트도 넣을 수 있다.
a

{'a': [1, 2, 3]}

In [72]:
#딕셔너리 쌍 추가하기
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [73]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [74]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [75]:
#딕셔너리 요소 삭제하기
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [77]:
#딕셔너리에서 Key를 사용해 Value 얻기
grade = {'pey': 10, 'julliet': 99}
grade['pey']
grade['julliet']

99

In [79]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name'], dic['phone'], dic['birth']

('pey', '010-9999-1234', '1118')

In [80]:
#딕셔너리 만들 때 주의할 사항
a = {1:'a', 1:'b'}
a #Key가 중복되었을 때는 마지막에 작성한 벨류값만 출력

{1: 'b'}

In [81]:
#키는 mutable해야한다 리스트는 바뀔수있는 것이므로 키값에 올 수 없다
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수

In [82]:
a1 = 'str'
a2 = [1,2,3]
a3 = (1,)
a4 = {1:'a'}
type(a1), type(a2), type(a3), type(a4)

(str, list, tuple, dict)

In [84]:
# key 리스트 만들기 함수 keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [85]:
for k in a.keys():
    print(k)

name
phone
birth

In [86]:
list(a.keys())

['name', 'phone', 'birth']

In [87]:
#Value 리스트 만들기 - values
#Key를 얻는 것과 마찬가지 방법으로 Value만 얻고 싶다면 values 함수를 사용하면 된다. 
#values 함수를 호출하면 dict_values 객체를 리턴한다.
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [88]:
#Key, Value 쌍 얻기 - items
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [91]:
#Key: Value 쌍 모두 지우기 - clear
a.clear()
a

{}

In [92]:
#Key로 Value 얻기 - get
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')

'pey'

In [94]:
a['name'] #a.get과 어떤 차이가 있을까?

'pey'

In [95]:
a['nokey'] #a[]는 키가 없으면 에러를 반환

KeyError: 'nokey'

In [96]:
a.get('nokey') #a.get함수는 에러를 반환하지 않음

In [100]:
#해당 Key가 딕셔너리 안에 있는지 조사하기 - in
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'name' in a

True

In [101]:
'email' in a

False

## 집합 자료형

In [105]:
s1 = set([1, 2, 3])
s1, type(s1)#중괄호인데 key value 없이 하나만 있다?! -> 집합 자료형

({1, 2, 3}, set)

In [107]:
s2 = set("Hello")
s2,type(s2)

({'H', 'e', 'l', 'o'}, set)

In [109]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [110]:
l1[0]

1

In [113]:
t1 = tuple(s1)
t1, t1[0]

((1, 2, 3), 1)

In [112]:
t1[0]

1

In [114]:
#교집합, 합집합, 차집합 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [115]:
#교집합
# ‘&’를 이용하면 교집합을 간단히 구할 수 있다.
s1 & s2

{4, 5, 6}

In [116]:
#또는 다음과 같이 intersection 함수를 사용해도 결과는 동일하다.
s1.intersection(s2)

{4, 5, 6}

In [117]:
#합집합 구하기
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [118]:
#union 함수를 사용해도 된다.
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [119]:
#차집합 구하기
s1 - s2

{1, 2, 3}

In [120]:
s2 - s1

{7, 8, 9}

In [121]:
s1.difference(s2)

{1, 2, 3}

In [122]:
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

In [123]:
#값 1개 추가하는 함수 add
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [125]:
#값 여러 개 추가하는 함수 update
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [126]:
#특정 값 제거하는 함수 remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 불 자료형

In [ ]:
#불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다. 
#불 자료형은 다음 2가지 값만을 가질 수 있다.
#True: 참을 의미한다.
#False: 거짓을 의미한다.

In [128]:
a = True
b = False
type(a)

bool

In [129]:
type(b)

bool

In [130]:
#불 자료형은 조건문의 리턴값으로도 사용된다.
1 == 1

True

In [131]:
2 > 1

True

In [132]:
2 < 1

False

In [133]:
#자료형의 참과 거짓
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [134]:
if []:#if문에 비어있는 리스트를 넣는다면? -> 비어있으니까 거짓
    print("참")
else:
    print("거짓")

거짓

In [135]:
if [1,2,3]:
    print("참")
else:
    print("거짓")

참

## 불연산

In [136]:
'python' is True #틀렸는데 == 로 대신 계산해줬다

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\jsd76\AppData\Local\Temp\ipykernel_7920\486934944.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'python' is True

False

In [137]:
'python' == True

False

In [138]:
bool('python') #값이 존재해서 Ture

True

In [139]:
bool('')

False