In [ ]:
# lambda 사용
titanic["adult/child"] = titanic.apply(lambda r: "adult" if r.age >= 20 else "child", axis=1)
# 리스트 컴프리헨션 사용
titanic["adult/child_2"] = ['adult' if x >=20 else 'child'  for x in titanic['age']]

In [ ]:
# lambda 사용
titanic["category1"] = titanic.apply(lambda r: r.sex if r.age >= 20 else "child", axis=1)
# 리스트 컴프리헨션 사용
titanic['category1_2'] = [x if y >=20 else 'child' for x, y in zip(titanic['sex'], titanic['age'])]

In [ ]:
보너스 과제
연습문제 마지막 lambda문 리스트 컴프리헨션으로 만들어보기

마지막 연습문제 리스트컴프리헨션 변환 힌트
[] 리스트 안에 if else문 2개, for x, y, z in zip(칼럼 세개)

zfill
fill <-
isnull 은 isna와 같을까요?

isnull == isna
fillna != fillnull(존재하지않는메서드)

null과 na는 혼용해서 쓰이기도 하지만
null이나, na 하나만 쓰이는 함수도 있어요