In [ ]:
다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```

(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

In [1]:
import pandas as pd

data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [2]:
#(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df[["수학"]]

    수학
춘향  90
몽룡  60
향단  80
방자  70

In [3]:
#(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[["국어","영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [6]:
#(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
#배운방법
df["평균점수"]=round(df.mean(axis=1),2)
# 기존에 했던방법 df["과목 평균 점수"] = ((df["국어"]+df["영어"]+df["수학"])/3).round(2)
df

    국어  영어  수학   평균점수
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

In [13]:
#(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
df["영어"]["방자"]=80
df["평균점수"]=round(df.mean(axis=1),2)
df

C:\Users\jsd76\AppData\Local\Temp\ipykernel_15220\3514106615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["영어"]["방자"]=80

    국어  영어  수학   평균점수
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  80  70  56.67

In [17]:
#(5) 춘향의 점수를 데이터프레임으로 나타낸다.
#행=컬럼 정보를 데이터프레임으로 나타내고 싶다면(loc제외) 슬라이싱을 사용해야한다
df[:1]
df[:'춘향']
df.loc['춘향']

국어      80.00
영어      90.00
수학      90.00
평균점수    86.67
Name: 춘향, dtype: float64

In [18]:
#(6) 향단의 점수를 시리즈로 나타낸다.
df.T['향단']

국어      70.0
영어      60.0
수학      80.0
평균점수    70.0
Name: 향단, dtype: float64